.product{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: flex-end;
margin: 10px;
padding: 20px;
width: 100%;
max-width: 400px;
min-width: 100px;
background-color: white;
z-index: 1;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;


}

.product_price{
margin-top: 50px;
z-index: 1;
position: relative;
}
.product_info{
  margin-top: 5px;
  text-align: center;
}
.product_rating{
    display: flex;
    margin: 10px;

}
.product > button{
background: #f0c14b;
border:1 px solid;
margin-top: 10px;
border-color: #a88734 #9c7e31 #846a29;
color: #111;
}

